/*
 * Developer: Alireza Eskandarpour Shoferi
 * Designer: Nevide (codecanyon.net/user/Nevide)
 *
 * Distributed under the terms of the MIT license
 * https://opensource.org/licenses/MIT
 */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 15px;
  
}
a {
  color: #646464;
  text-decoration: none;
}

li {
  margin-bottom:4px;
}

.product-wrapper {
  border-bottom-width:2px;
  border-bottom-style:solid;
  margin-left:35px;
  margin-right:15px;
  border-bottom-color:#EEF2FA;
}

.fa {
  color: royalblue;
  margin-right:5px;
}

.wrapper {
  position: relative;
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px #7A9BAC;
          box-shadow: 0 4px 10px #7A9BAC;
  font-size: 0.875em;
}
.items {
  padding: 18px 0;
}
.items > li > a {
  display: block;
  margin: 0 auto;
  width: 98%;
  text-indent: 18px;
  line-height: 39px;
}
.items > li > a::after {
  position: absolute;
  right: 30px;
  margin-top: 2px;
  font-family: "FontAwesome";
}
.items > li > a::after {
  right: 30px;
  content: "\f061";
}
.itemHover {
  color: #fff;
  font-weight: 600;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.items > li > a:hover {
  background-color: #EEF2FA;
  color: #283D56;
  font-weight: 600;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.items > li > a.expanded {
  background-color: #EEF2FA;
  color: #283D56;
  font-weight: 600;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.items > li > a.expanded::after {
  content: "\f063";
}
.sub-items > li:first-child > a {
  margin-top: 17px;
  height: 34px;
}
.sub-items > li:last-child > a {
  margin-bottom: 17px;
  height: 34px;
}
.sub-items a {
  position: relative;

  margin: 0 auto;
  width: 212px;
  text-indent: 24px;
  line-height: 39px;
}
.sub-items a {
  border-left: 2px solid #EEF2FA;
}
.sub-items .current {
  position: relative;
  color: #64D7E2;
  border-color: white;
}
.sub-items > li:hover > a {
 
}
.sub-items {
  display: none;
  margin-left:10%;
}
