.button_chat {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: #808080;
    border-color:#808080;
    width: inherit;
    min-width: -webkit-fill-available;
    margin-bottom: 1px;
    height: auto;
}

.button_chat:hover {
    background-color: #D3D3D3; 
    color: white;
    border-color: #D3D3D3
}

/* Firefox < 16 */
@-moz-document url-prefix() {
	.button_chat {
	    min-width: -moz-available;
	}
}
