    body,
    html {
        background-color: #F8F8F9;
        margin: 0 auto;
        font-family: Lato,sans-serif;
        color: #283D56;
        -webkit-font-smoothing: antialiased;
    }

    h2 {
        font-weight: normal;
    }

    hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    button {
      background: #fff;
      border: 1px solid;
      color: #5586D6;
      border-radius: 4px;
      border-color: #5586D6;
      height: 30px;
      width: 120px;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      cursor: pointer;
      font-size: .8rem;
    }

    button:disabled {
      opacity: 0.65;
    }

    .container {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .outline {
        display: flex;
        align-content: center;
        align-self: center;
        flex-direction: column;
        width:100%;
    }

    .banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: white;
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0;
        height: 80px;
	border-bottom:groove;
	border-bottom-width:thin
    }

    .bannersecond {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #5586D6;
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
    }

    .titleArea {
        flex: 2 0 0;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .sectionTitleArea {
      text-align: center;
      width: 100%;
      color: #fff;
    }

    .tagline {
      font-size: 2rem;
    }

    .logo {}

    a {
        text-decoration: none;
        color: #5586D6;
    }

    .logoImage {
        height: 50px;
    }

    .watsonLogo {
      vertical-align:middle;
      padding:20px
    }

    .name {
        margin-left: 10px;
    }

    .fb {}

    .welcome {
        font-size: 12px;
        margin: 20px;
        /* background: #f1f5f8; */
        padding: 10px;
        border-radius: 4px;
        color: #8C9BA5;
        text-align: center;
    }
    .askWatson {
      color: #283D56;
      text-align: center;
    }

    .plan {
        font-size: 12px;
        margin: 20px;
        padding: 20px;
        border-radius: 4px;
        color: #597a96;
        border: 1px dashed #597a96;
    }

    .welcomeText {
        font-size: 16px;
        margin: 20px;
        background: white;
        padding: 20px;
        border-radius: 4px;
        color: #225282;
        font-weight: bold;
        border: 1px solid #c8e7e0;
    }

    .welcomeText span {
        color: #c8e7e0;
    }

    .loading {
        margin: 30px;
        height: 300px;
    }

    .carInsurance {
        margin-bottom: 100px;
        width: 100%;
        float: left;
    }

    .insuranceTypeHeading {
        font-size: 18px;
        margin: -21px;
        background: #c8e7e0;
        padding: 10px 20px;
        color: black;
        margin-bottom: 10px;
        font-weight: bolder;
    }

    .userTypeHeading {
        font-size: 18px;
        padding: 10px 10px;
        color: #225282;
        margin-bottom: 10px;
        font-weight: bolder;
    }

    .insuranceLeftList {
        margin: 0px;
        padding: 0px;
        width: 48%;
        margin-right: 4%;
        float: left;
        margin-top: 10px;
        background: #225282;
    }

    .ui-userInfo {
        margin: 0px;
        padding: 0px;
        width: 100%;
        float: left;
        margin-top: 10px;
    }

    .insuranceRightList {
        margin: 0px;
        padding: 0px;
        width: 40%;
        float: right;
        text-transform: uppercase;
    }

    .insuranceLeftList li {
        list-style: none;
        padding: 15px;
        background: #225282;
        font-size: 12px;
        color: white;
        font-weight: normal;
    }

    .ui-userInfo li {
        list-style: none;
        padding: 10px 15px;
        /* background: #225282; */
        font-size: 14px;
        color: #225282;
        font-weight: normal;
    }

    .address {
        height: 72px;
    }

    .edit_account_details a {
        text-decoration: none;
        font-weight: bold;
        color: #225282;
        border: 1px solid #9DB8D5;
        padding: 5px 11px;
        border-radius: 3px;
        background: #FFFFFF;
    }

    .insuranceLeftList li span {
        font-weight: bold;
        color: black;
        font-size: 13px;
        padding-left: 5px;
        padding: 2px 5px;
        border-radius: 2px;
        background: white;
        width: 140px;
        float: right;
        text-align: center;
    }

    .ui-userInfo li span {
        font-weight: bold;
        color: black;
        font-size: 13px;
        padding-left: 5px;
        padding: 5px 10px;
        border-radius: 2px;
        background: white;
        width: 70%;
        float: right;
        text-align: left;
        opacity: 0.7;
    }

    .ui-userInfo ul {
        padding: 0px;
    }

    .insuranceRightList li {
        list-style: none;
        padding: 10px;
        background: #547EAA;
        margin: 10px 0px;
        font-size: 14px;
        text-align: center;
        color: black;
        font-weight: bold;
        border-radius: 2px;
    }

    .insuranceRightList li a {
        color: #c8e7e0;
    }

    .insuranceRightList li a:hover {
        color: white;
    }

    .homeInsurance {
        margin-bottom: 40px;
        width: 100%;
        float: left;
    }

    .healthInsurance {
        margin-bottom: 40px;
        width: 100%;
        float: left;
    }

    .userInsurance {
        margin-bottom: 40px;
        width: 100%;
        float: left;
    }

    .healthInsurance p,
    .homeInsurance p,
    .carInsurance p,
    .userInsurance p {
        color: #225282;
    }

    .github {
        font-size: 16px;
        margin: 36px;
        margin-top: 50px;
        /* background: #f6fbf9; */
        padding: 20px;
        border-radius: 4px;
        /* border: 1px solid #c8e7e0; */
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    .menuLink {
        color: white !important;
        font-size: 13px;
        font-weight: bold;
    }

    .logout {
        color: white !important;
    }

    .login {
        color: white !important;
    }

    .tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
    }

    .tileImage {
        height: 60px;
    }

    .tileButton {

    }

    .tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 180px;
        height: 220px;
        border: 1px solid #DFE3E6;
        border-radius: 4px;
        margin: 0px;
        background: white;
        /*    box-shadow: 0 0.125em 0.5em 0 rgba(4, 49, 64, 0.1);*/
    }

    .homePage .tile {
        margin: 10px;
    }

    .tiles a {
        border: none;
        margin: 30px;
    }

    .timeImage {}

    .label {
        text-align: center;
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #283D56;
        margin-bottom: 20px;
    }

    .call {
        height: 40px;
        margin: 40px;
        margin-bottom: 60px;
        border-radius: 4px;
        color: #597a96;
        display: flex;
        flex-direction: row;
        align-content: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        justify-content: space-around;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        /* border: 1px dotted #12aaeb; */
        /* color: black; */
        background: #f5fbfe;
        font-size: 14px;
    }

    .hole {
        background: #12aaeb;
        height: 10px;
        width: 10px;
        /* margin: 10px; */
        margin-top: 20px;
        border-radius: 10px;
        align-self: center;
    }

    .hero {
        border-radius: 4px;
        margin-top: 20px;
        margin-left: 36px;
        margin-right: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 40px;
        background: #fcfefe;
        padding: 20px;
        border-radius: 4px;
        color: white;
        border: 1px solid #12aaeb;
        /* padding: 50px; */
    }

    .json-respond {
        border-radius: 4px;
        border: 1px solid #a2b1c1;
        margin-top: 20px;
        margin-left: 36px;
        margin-right: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 40px;
    }

    .heroText {
        width: 360px;
        padding: 20px;
        color: #597a96;
        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 24px;
    }

    .botImage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 60px;
        margin: 20px;
    }

    .watchImage {
        width: 80px;
    }

    .homePage .member {
        height: 150px;
    }

    .member .welcome {
        height: 450px;
        border: 1px dotted #c8e7e0;
    }

    .health .welcome {
        height: 1100px;
        border: 1px dotted #c8e7e0;
    }

    .auto .welcome {
        height: 1200px;
        border: 1px dotted #c8e7e0;
    }

    .home .welcome {
        height: 1100px;
        border: 1px dotted #c8e7e0;
    }

    .insuranceIcons {
        float: left;
        width: 100%;
    }

    .insuranceIcons h3 {
        text-align: center;
    }

    .insuranceIcons h3 span {
        color: #225282;
    }

    .glow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        align-self: center;
    }

    .ui-insuranceLeftList {
        margin: 0px;
        padding: 0px;
    }

    .benefits {
        padding: 15px;
        color: white;
    }

    .benefits h3 > span {
        width: 100%;
        border-bottom: 1px dotted white;
        float: left;
        margin-bottom: 15px;
    }

    .benefits .benefits-heading {
        color: #c8e7e0;
        font-size: 12px;
        font-weight: bold;
    }

    .benefits p {
        color: white;
        font-size: 12px;
    }

    .about {
        display: flex;
        padding: 30px;
        font-size: 14px;
        border: 1px dotted #12aaeb;
        border-radius: 4px;
    }

    .cloudvideo {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        border: display: flex;
        padding: 30px;
        font-size: 14px;
        border: 1px dotted #c8e7e0;
        border-radius: 4px;
    }

    .home {
        text-decoration: none;
        color: #FFFFFF;
        border-bottom: none;
        padding-bottom: 1px;
        font-size: 13px;
        font-weight: bold;
    }

    .input {
        margin-top: 30px;
    }

    .separator {
        border-bottom: 1px dotted #8ad3f3;
    }

    .split {
        display: flex;
        flex-direction: row;
    }

    .policy {
        width: 460px;
        margin-top: 20px;
    }

    .interact {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 300px;
        max-width: 300px;
        height: 300px;
        max-height: 300px;
        margin: 20px;
        margin-top: 40px;
        min-width: 300px;
        border-radius: 4px;
        color: #597a96;
        border: 1px dashed #597a96;
    }

    .quote {
        background: #a0dcf7;
        border: none;
        color: #225282;
        border-radius: 4px;
        width: 140px;
        font-size: 14px;
        height: 40px;
        margin: 20px;
        outline: none;
        visibility: visible;
        opacity: 1;
        transition: opacity 1s linear;
        font-weight: bold;
    }

    .quote:hover {
        cursor: pointer
    }

    .question {
        font-size: 18px;
        margin: 20px;
    }

    .instructions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
        font-size: 12px;
        color: #225282;
        font-weight: bold;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: visibility 2s linear;
    }

    .disabledInstructions {
        display: none;
        opacity: 0;
        /*    transition: display 0s 3s, opacity 3s linear;*/
    }

    .quote:disabled {
        opacity: 0.4;
        visibility: hidden;
        opacity: 0;
        /*    transition: visibility 0s 1s, opacity 1s linear;*/
    }

    .quoteImage {
        height: 100px;
    }

    .learn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .elements {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
        width: 500px;
    }

    .criteria {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 170px;
        height: 170px;
        border-radius: 4px;
        border: 2px dashed #597a96;
        margin: 20px;
        background: white;
        align-content: center;
        align-items: center;
        color: #597a96;
    }

    .criteria:hover {
        border: 2px solid orange;
    }

    .selectedCriteria {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 170px;
        height: 170px;
        border-radius: 4px;
        border: 2px solid #12aaeb;
        margin: 20px;
        background: #fcfefe;
        align-content: center;
        align-items: center;
        color: #12aaeb !important;
    }

    .criteria-image-text {
        font-size: 40px;
        color: #225282;
        height: 70px;
        line-height: 70px;
    }

    .criteria-image {
        height: 70px;
    }

    .criteria-label {
        text-align: center;
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        min-width: 100px;
        color: #225282
    }

    .layout {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: height 0.15s ease-out;
        transition: height 0.15s ease-in;
    }

    .evaluation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .evaluation-image {
        height: 60px;
    }

    .slider-label {
        margin: 10px;
        color: #225282;
        min-width: 90px;
        text-align: center;
        font-size: 12px;
    }

    .slider-element {
        display: flex;
        flex-direction: row;
        width: 360px;
    }

    .criteria-element {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .output {
        display: flex;
        flex-direction: column;
    }

    .results {
        display: none;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 800px;
    }

    .radar {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        align-self: center;
        font-size: 14px;
        height: 500px;
        max-height: 500px;
        min-width: 500px;
        margin-top: 10px;
        border-radius: 4px;
        color: #597a96;
        height: 0;
        /*    border-bottom: 1px solid #8ad3f3;*/
    }

    .policies {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 800px;
        /* margin: 20px; */
        /* margin-top: 40px; */
        min-width: 450px;
        border-radius: 4px;
        flex-wrap: wrap;
        color: #225282;
    }

    .consideration {
        min-width: 100px;
        height: 36px;
        display: flex;
        flex-direction: row;
        font-size: 13px;
        align-items: center;
        margin-left: 10px;
        justify-content: center;
        color: #225282;
        font-weight: bold;
        border-radius: 4px;
        border: 2px solid #12aaeb;
    }

    .consideration-mobile {
        min-width: 100px;
        height: 36px;
        flex-direction: row;
        font-size: 13px;
        align-items: center;
        margin-left: 10px;
        justify-content: center;
        color: #225282;
        font-weight: bold;
        border: 2px solid #12aaeb;
        display: none;
    }

    .policyFeedback {
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 300px;
        border: 2px solid #8ad3f3;
        border-radius: 4px;
        margin: 30px;
    }

    #feedback {
        width: 100%;
    }

    .policyTitle {
        display: flex;
        flex-direction: column;
        width: 180px;
        color: #225282;
        min-height: 50px;
        background: #8ad3f3;
        max-height: 50px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #8ad3f3;
    }

    .policyTitle:hover {
        cursor: pointer;
    }

    .policyDetails {
        display: flex;
        flex-direction: column;
        width: 180px;
        /*    min-height: 220px;*/
        height: 200px;
        border-bottom: 2px solid #8ad3f3;
        align-items: center;
        justify-content: center;
    }

    .policyAction {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        width: 180px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    .policyData {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        /* margin: 4px; */
        border: 1px solid #8ad3f3;
        border-top: none;
        min-width: 180px;
        height: 40px;
    }

    .policyDescription {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 11px;
        height: 28px;
        align-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;
        width: 100%;
        border-bottom: 1px solid #8ad3f3;
    }

    .policyRating {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
    }

    .policyLabel {
        margin: 5px;
        font-size: 14px;
        min-width: 80px;
        height: 40px;
        display: flex;
        border-right: 1px solid #8ad3f3;
        flex-direction: row;
        align-items: center;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
    }

    .policyContent {
        font-size: 16px;
        min-width: 70px;
        margin-right: 10px;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .buyPolicy {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        background: #e7f6fd;
    }

    .starImage {
        height: 24px;
    }

    .guidance {
        height: 40px;
        margin: 40px;
        width: 720px;
        margin-bottom: 0;
        border-radius: 4px;
        color: #597a96;
        display: flex;
        flex-direction: row;
        align-content: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        justify-content: space-around;
        align-items: center;
        background: #e7f6fd;
        font-size: 14px;
    }

    .resultsBar {
        height: 40px;
        margin: 40px;
        margin-bottom: 0;
        border-radius: 4px;
        color: #597a96;
        display: flex;
        flex-direction: row;
        align-content: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        justify-content: space-between;
        align-items: center;
        background: #e7f6fd;
        font-size: 14px;
    }

    .watson {
        cursor: pointer;
        display: none;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 1px solid #12aaeb;
        padding: 5px;
        border-radius: 4px;
        font-size: 11px;
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
        color: #225282;
        font-weight: bold;
        min-width: 210px;
    }

    .glasses {
        height: 11px;
        min-width: 30px;
        margin-right: 10px;
    }

    .radarContainer {
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #e7f6fd;
    }
    /* login */

    .icon {
        height: 30px;
        width: 24px;
        padding: 10px;
        margin-left: -20px;
    }

    .loginform {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .loginfield {
        display: flex;
        padding: 16px;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: 20px;
        align-content: center;
        flex-direction: row;
    }

    .loginbox {
        height: auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .loginnew {
        padding: 15px;
        text-align: center;
        text-decoration: none;
    }

    .logininput {
        border: 1px solid #5586D6;
        border-radius: 4px;
        height: 36px;
        padding: 10px;
        width: 180px;
    }

    .loginbutton {
        margin-top: 10px;
    }

    .loginArea {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: baseline;
        z-index: 500;
    }

    .dropmenu {
        display: flex;
        height: auto;
        margin: 60px;
        width: 300px;
        z-index: 1000;
        background: white;
        border: 1px solid #DFE3E6;
        border-radius: 4px;
    }

    .menu {
      padding: 0 1rem;
    }

    .loginmenu {
        margin-left: 10px;
    }

    .logoutmenu {
        margin-left: 10px;
        display: none;
    }

    .signuplink {}

    @media only screen and (max-width: 800px) {
        .outline {
            display: flex;
            align-content: center;
            align-self: center;
            flex-direction: column;
            width: 100%;
        }
        .banner {
            /*display: flex;
            flex-direction: column;
            align-items: center;
            background: #225282;
            padding: 30px;
            padding-bottom: 0px;
            padding-top: 0;
            margin-top: 0;
            border-radius: 0;
            height: 90px;
            z-index: 0;*/
        }
        .bannersecond {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #5586D6;
            padding: 30px;
            padding-bottom: 0px;
            padding-top: 0;
            margin-top: 0;
            border-radius: 0;
            height: 60px;
            z-index: 0;
        }
        .tagline {
          font-size: 1.3rem;
        }
        .menu {
            font-size: 14px;
            font-weight: 500;
            padding: 10px;
        }
        .tiles {
            isplay: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
        .call {
            display: none;
        }
        .hero {
            display: none;
        }
        .homePage .tile {
            margin: 10px;
            margin-bottom: 18px;
            margin-top: 0;
        }
        .name {
            font-size: 20px;
            margin-left: 10px;
        }
        .welcome {
            font-size: 14px;
            border-radius: 4px;
            color: #8C9BA5;
            line-height: 24px;
            text-align: center;
            margin: 0;
        }
        .split {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }
        .interact {
            order: 1;
        }
        .policy {
            order: 2;
            width: 302px;
            margin: 0;
        }
        .plan {
            font-size: 14px;
            margin: 0;
            padding: 20px;
            border-radius: 4px;
            color: #597a96;
            width: 260px;
            border: 1px dashed #597a96;
        }
        .consideration-mobile {
            display: flex;
        }
        .consideration {
            display: none;
        }
        .evaluation {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 2px solid #e7f6fd;
        }
        .resultsBar {
            flex-direction: column;
            height: 80px;
            margin: 0;
            padding-bottom: 20px;
        }
        .watson {
            margin-right: 0;
        }
        .output {
            width: 400px;
            align-items: center;
        }
        .results {
            width: 400px;
        }
        .policies {
            width: 320px;
            min-width: 320px;
        }
    }
